.eda-parent {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.eda-cont-left {
    height: auto;
    width: 80%;

}

.eda-cont-right {
    height: 100vh;
    width: 20%;
}

.df-head-table {
    width: 90%;
    overflow: scroll;
    margin: 0 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #F6F8FC #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;

}

*::-webkit-scrollbar-track {
    background:#ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 0px none #ffffff;
}

.dq-head {
    text-align: center;
    margin: 1rem 0;
}

.df-imp-detials-tb {
    height: auto;
    width: 90%;

    overflow: scroll;
    margin: 2rem 5%;
}

table {
    font-family: "Open Sans", sans-serif;

    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    white-space: nowrap;
    overflow: scroll;
}

table thead tr {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

table thead tr th {
    background: black;
    padding: 1.5rem 1rem;
    vertical-align: middle;
}

table tbody tr:nth-child(odd) td {
    background: #ffffff;
}

table tbody tr:nth-child(even) td {
    background: #F6F8FC;
}

table tbody td {
    color: #1a202c;
    text-align: center;
    padding: 1.5rem 0;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: normal;
}

.cl-list-temp {
    height: 20rem;
}

.eda-contleft-cont1 {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 2rem 0;
}

.df-size,
.df-shap {
    height: inherit;
    width: 40%;
    background-color: #F6F8FC;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.df-shap-pad {
    padding: .1rem;
}

.eda-df-shape-dec {
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
}

.eda-df-size-dec {
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
}

.custom-td-df-des {
    font-weight: 700;
}

.eda-csv-name-cont {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 2rem 0;
}

.csv-name-child {
    height: inherit;
    width: 50%;
    background-color: #F6F8FC;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.eda-head {
    width: 100%;
    display: flex;
    justify-content: center;


}

.eda-head-child {
    width: 80%;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx navigation icon xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.nav-popover {

    width: 20%;
    display: flex;
    justify-content: flex-end;

}

.nav-back-icon {
    width: 20%;
}

.nav-popover-child {
    margin: 3rem 1rem 0 0;
}

.popover-after-cont {
    height: auto;
    width: 15rem;

}

.sidenav__listitems-main li {

    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;

    padding: .4rem 0 0 2rem;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



.sidenav_icon {
    display: block;

}

.sidenav-text {
    width: 50%;
    height: 3rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx navigation icon xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx for graph imagesxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.univariate-graphs-cont {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    padding: 2rem 3rem;
}

.upcomming-graph-cont,
.hist-graph-cont {
    height: inherit;
    width: 22%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}

.eda-gh-btn-cont {
    width: 3rem;
    margin: 0 20%;
}

.eda-select-inp {
    margin: 0 1rem;
}

.upcomming-graph-cont h4,
.hist-graph-cont h4 {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx for graph images xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */