.sales-inp-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.date_picker{
    margin-top: .3rem;
}
.sale-forcast-result-cont{
    height: 20rem;
    width: 100%;
    display: flex;

    justify-content: center;
}
.salesforcast_analyticsimg_size{
    margin-top: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}